:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #9a9a9a;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.main {
    overflow: hidden;
}


/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.mt-6 {
    margin-top: 6px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

/* row reverse */

.row-reverse {
    flex-direction: row-reverse;
}

/* text color */
.text-white {
    color: var(--white-color);
}

.text-green {
    color: #1bbc9b;
}

.text-blue-sky {
    color: #14b9d5;
}

.text-default {
    color: var(--text-color);
}

.text-title {
    color: #555555;
}
/* background color */

.background-white {
    background-color: var(--white-color);
}

.background-yellow {
    background-color: #ffd205;
}

.background-pink {
    background-color: #f76570;
}

.background-purple {
    background-color: #ba71da;
}

.background-green {
    background-color: #1bbc9b;
}

.background-blue-sky {
    background-color: #14b9d5;
}
/* Btn color */

.btn-yellow {
    background-color: #ffd205;
}

.btn-pink {
    background-color: #f76570;
}

.btn-purple {
    background-color: #ba71da;
}

.btn-blue-sky {
    background-color: #14b9d5;
}

.btn-orange {
    background-color: #f3a46b;
}

.btn-white {
    background-color: var(--white-color);
}


/* ------btn gradient----- */
.btn-yellow-g {
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}

.btn-purple-g {
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}

.btn-pink-g {
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}

.btn-green-g {
    background: linear-gradient(to right, #1bbc9b 0%, #1bbc63 100%);
}

.btn-orange-g {
    background: linear-gradient(to right, #f3a46b 0%, #f3c96b 100%);
}

.btn-blue-sky-g {
    background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%)
}

/* btn hover */
.btn-white:hover {
    background: linear-gradient(to right, #edc3ff 0%, #ffd7db 100%);
}

.btn-yellow:hover {
    background: linear-gradient(to left bottom, #ffd205 0%, #ff9b05 100%);
}

.btn-pink:hover {
    background: linear-gradient(to left bottom, #f76570 0%, #f75c2d 100%);
}

.btn-purple:hover {
    background: linear-gradient(to left bottom, #ba71da 0%, #da717b 100%);
}

.btn-blue-sky:hover {
    background: linear-gradient(to left bottom, #14b9d5 0%, #14d5b1 100%);
}

.btn-orange:hover {
    background: linear-gradient(to left bottom, #f3a46b 0%, #ff792c 100%);
}
/* common object */

    /* Header, nav, subnav */

.header-with-search {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 20px 50px;
}

.header__logo {
    display: flex;
    align-items: center;
    width: 220px;
    padding: 0 15px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    position: relative;
    display: block;
    width: 160px;
    top: -4px;
    cursor: pointer;
}

.header-nav {
    display: flex;
    flex: 1;
    align-items: center;
    list-style: none;
    padding: 0 15px;
}

.header-nav__item {
    position: relative;
}

.header-nav__item-link {
    display: block;
    padding: 25px 10px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 2px;
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;
}

.header-nav__item-link.book-btn {
    display: block;
    padding: 11px 12px;
    margin-left: 20px;
    border-radius: 30px;
}

.header-subnav,
.header-subnav--secondary {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0px 2px 5px #f1f1f1;
    z-index: 1;
}

.header-subnav--secondary {
    top: 0;
    left: calc(100% + 16px);
    list-style: none;
}

.header-subnav__item,
.header-subnav__item--secondary {
    position: relative;
    width: 100%;
    min-width: 190px;
    text-align: left;
    border-top: 1px solid #eeeeee;
}

.header-subnav__item-link,
.header-subnav__item-link--secondary {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 25px;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 2px;
    color: #9a9a9a;
    text-decoration: none;
}

.header-subnav__item-link span,
.header-subnav__item-link--secondary span {
    padding: 2px 5px;
    font-size: 1rem;
    color: var(--white-color);
    border-radius: 5px;
}

.angle-right {
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #9a9a9a;
}

    /* Nav - subnav hover */
.header-nav__item:hover .header-subnav {
    display: block;
}

.header-subnav__item > a:hover,
.header-subnav__item--secondary:hover {
    background-color: #f9f9f9;
}

.header-subnav__item:hover .header-subnav--secondary {
    display: block;
}

.header-subnav__item-link span {
    background-color: #f76570;
}

.header-subnav__item-link--secondary span {
    background-color: #14b9d5;
}

.header-subnav__item-link--has-new-span span {
    background-color: #1bbc9b;
}

.header-subnav:first-child,
.header-subnav--secondary:first-child {
    border-top: none;
}

/* Bac cau subnav - subnavsecond */
.header-subnav--secondary::before {
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    width: 16px;
    height: 48px;
    background-color: transparent;
    cursor: pointer;
}

/* Tablet & Mobile Menu */
.mobile-menu-wrapper {
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.mobile-menu {
    /* display: flex; */
    display: none;
    flex-direction: column;
    position: fixed;
    padding: 0 15px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 285px;
    max-width: 100%;
    overflow-y: scroll;
    background-color: #555555;
    transform: translateX(100%);
    transition: transform ease-out 0.5s;
    z-index: 2;
}

.mobile-menu-close__btn {
    position: absolute;
    box-sizing: content-box;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px;
    top: 6px;
    right: 12px;
}

.mobile-menu__title {
    display: block;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: var(--white-color);
    font-weight: bold;
    text-decoration: none;
}

.mobile-menu__list {
    margin-left: 20px;
    list-style: none;
}

.mobile-sub-menu {
    margin-left: 20px;
    list-style: none;
}

.mobile-menu__item-link,
.mobile-sub-menu__item-link {
    display: block;
    font-size: 1.4rem;
    line-height: 3.5rem;
    letter-spacing: 2px;
    color: var(--white-color);
    text-decoration: none;
}

#slide-menu:checked ~ .header-slide-menu__overlay{
    display: block;
}

#slide-menu:checked ~ .mobile-menu {
    transform: translateX(0%);
}
/* --------------------- */

.header-slide-menu {
    padding: 0 15px;
}

.header-slide-menu__img {
    position: relative;
    display: block;
    width: 25px;
    cursor: pointer;
}

.header-slide-menu__img:hover{
    zoom: 1.1;
}

.header-slide-menu__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: linear-gradient(to left, rgba(239, 50, 217, 0.4), rgba(137, 255, 253, 0.4));
    animation: fadeIn linear 0.2s;
}

.header-slide-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 340px;
    overflow-y: scroll;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform ease-out 0.5s;
    z-index: 2;
}

.header-slide-menu-close-btn {
    position: absolute;
    box-sizing: content-box;
    display: block;
    width: 25px;
    padding: 6px;
    top: 5px;
    right: 5px;
}

.header-slide-menu__heading {
    text-align: center;
    padding: 20px 30px;
}

.header-slide-menu__title {
    margin-top: 3px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #9fa3a8;
    letter-spacing: 2px;
}

.header-slide-menu__text {
    position: relative;
    display: inline-block;
    margin-top: 8px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #555555;
    font-weight: bold;
    z-index: 1;
}

.header-slide-menu__text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 5px;
    background-color: #ffd105;
    z-index: -1;
}

.late-package__underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 5px;
    background-color: #f3a46b;
    z-index: -1;
}

.header-slide-menu__package-list {
    list-style: none;
    margin: 6px 0;
}

.header-slide-menu__package-item {
    display: flex;
    padding: 15px;
    width: 100%;
}

.header-slide-menu__package-link {
    text-decoration: none;
}

.header-slide-menu__package-link img {
    display: block;
    width: 100px;
}

.header-slide-menu__package-info {
    flex: 1;
    margin-left: 22px;
}

.header-slide-menu__package-info img {
    position: relative;
    display: inline-block;
    top: 1px;
    padding-right: 5px;
    width: 18px;
}

.header-slide-menu__package-name {
    margin-top: 6px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: normal;
    color: #746655;
}

.header-slide-menu__package-location {
    margin-top: 8px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 2px;
    color: #9a9a9a;
    text-decoration: none;
}

.header-slide-menu__package-btn {
    display: block;
    margin-top: 18px;
    padding: 7px 18px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
}

/* ---------------------- */

#slide-menu {
    display: none;
}

#slide-menu:checked ~ .header-slide-menu__overlay{
    display: block;
}

#slide-menu:checked ~ .header-slide-menu {
    transform: translateX(0%);
}
/* Footer */

.footer {
    padding: 80px 0;
    background-image: url("../img/footer_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-heading__heading,
.footer-heading__title {
    text-align: left;
}

.footer-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-submit input {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    outline: none;
    border: none;
    border-radius: 30px;
    flex: 1;
}

.footer-submit a {
    display: block;
    padding: 10px 22px;
    font-size: 1.5rem;
    line-height: 2.6rem;
    letter-spacing: 2px;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 30px;
}

.contact-social img {
    width: 150px;
}

.footer-contact {
    padding: 45px;
    background-color: var(--white-color);
}

.footer-contact-social__icon-wrapper {
    display: flex;
}

.footer-contact-social__icon-wrapper img {
    display: block;
    width: 22px;
    object-fit: cover;
    margin-right: 20px;
    cursor: pointer;
}

.contact-social p {
    margin: 30px 30px 30px 0;
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    color: var(--text-color);
}

.contact-menu-wrapper {
    margin-top: 15px;
}

.contact-menu__item h6 {
    margin-bottom: 35px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 2px;
    color: #555555;
    font-weight: bold;
}

.contact-menu__item ul {
    padding-top: 4px;
    list-style: none;
}

.contact-menu__item img {
    width: 10px;
}

.contact-menu__item p {
    margin-left: 4px;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    color: var(--text-color);
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    background-color: #14b9d5;
}

.footer-copyright h6 {
    color: #ffffff;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: 2px;
    font-weight: 400;
}